@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "../base/functions";

$enable-negative-margins: true;
$enable-important-utilities: false;

$theme-colors: ("primary": #f9aa33,
  "secondary": #343f4d,
  "secondary-dark": #232f3e,
  "blue": #a3d2d4,
  "red": #d9534f,
  "green": #72b844,
  "light": #fbfcfc,
  "aging-1": #5aae61,
  "aging-2": #1b7837,
  "aging-3": #00441b,
  "black": #000,
  "white": #ffffff,
);

$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$border-radius-list: ("xs": 5px,
  "sm": 8px,
  "md": 12px,
  "lg": 24px,
  "xl": 40px,
  "xxl": 50px,
);

$headings-font-sizes: (1: 40px,
  2: 30px,
  3: 27px,
  4: 21px,
  5: 18px,
  6: 16px,
);

$body-font-sizes: (1: 16px,
  2: 14px,
  3: 12px,
);

$font-weights: ("lighter": 100,
  "light": 300,
  "normal": 1200,
  "bold": 700,
  "bolder": 900,
);

// Font weights
$font-weight-lighter: 100;
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

// Heights
$header-mobile-height: 140px;
$mobile-bottom-nav-height: 70px;

@each $name,
$size in $headings-font-sizes {
  .h#{$name} {
    font-size: calc($size * 0.75);
  }
}

@each $name,
$size in $body-font-sizes {
  .body#{$name} {
    font-size: calc($size * 0.75);
  }
}

@include media-breakpoint-up(lg) {

  @each $name,
  $size in $headings-font-sizes {
    .h#{$name} {
      font-size: calc($size * 1);
    }
  }

  @each $name,
  $size in $body-font-sizes {
    .body#{$name} {
      font-size: calc($size * 1);
    }
  }
}